<section id="sobre-mi" class="relative text-white pb-0 pt-20 px-20 min-h-screen">
    <span class="absolute top-30 left-0 text-[23rem] font-black text-[#7c6fff]/3 leading-none select-none pointer-events-none scale-x-70">
        02
    </span>
    <div class="flex items-center gap-10">
        <p class="font-mono text-sm tracking-widest text-[#7c6fff] whitespace-nowrap uppercase">
            02 / sobre mí
        </p>
        <div class="flex-1 h-[1px] bg-gradient-to-r from-[#7c6fff] to-transparent">
        </div>
    </div>
    <p class="uppercase font-display w-[500px] text-7xl pt-15">
        Codigo limpio, <span class="text-[#7c6fff]">eficiente</span> y robusto.
    </p>
</section>