<section id="contacto" class="relative text-white pb-0 pt-30 px-20 min-h-screen">
    <span class="absolute bottom-30 right-0 text-[23rem] font-black text-[#7c6fff]/3 leading-none select-none pointer-events-none scale-x-70">
        06
    </span>
    <div class="flex items-center gap-10 pb-10">
        <p class="font-mono text-sm tracking-widest text-[#7c6fff] whitespace-nowrap uppercase">
            06 / Contacto
        </p>
        <div class="flex-1 h-[1px] bg-gradient-to-r from-[#7c6fff] to-transparent">
        </div>
    </div>

    <div class="grid grid-cols-[500px_1fr] gap-16" >
        <div>
            <h2 class="font-display text-8xl pb-5">
                Descubre mas <span class="text-[#7c6fff]">sobre mi</span>
            </h2>
            <p class="font-mono text-gray-400 pb-10">
                Puedes conocer mas sobre mi y sobre como trabajo contactandote conmigo a traves de mis redes sociales. Normalmente respondo en menos de 24 horas.
            </p>
            <div class="border-b border-[#7c6fff]/20 pb-3 relative">
                <p class="font-mono text-xs text-gray-400/50">
                    Github
                </p>
                <p>
                    @SebasJRHub
                </p>
                <span class="">
                    🡥
                </span>
            </div>
        </div>
        
    </div>

</section>