---
import { Icon } from 'astro-icon/components';
---

<section id="inicio" class="text-white py-20 px-20">
    <p class="font-mono text-sm tracking-[3px] uppercase text-gray-400 pt-5 pb-8">
        <span class="inline-block w-2 h-2 rounded-full bg-green-400 mr-2 animate-pulse shadow-[0_0_6px_2px_rgba(74,222,128,0.7)]"></span>
        Disponible para proyectos
    </p>
    <p class="font-mono text-lg text-[#7c6fff] uppercase tracking-[3px]">
        Desarrollador backend
    </p>
    <h1 class="font-bold uppercase text-9xl select-none pb-13">
        Sebastian
    </h1>
    <p class="font-mono text-xl text-gray-400 pb-10">
        // Soluciones rapidas y backend solido para tu aplicacion._
    </p>
    <a href="#proyectos" class="group relative overflow-hidden border border-[#7c6fff] px-6 py-3 font-mono text-xs tracking-widest text-white inline-block">
        <span class="absolute inset-0 w-0 bg-[#7c6fff] transition-all duration-300 group-hover:w-full"></span>
        <span class="relative z-10 group-hover:text-white transition-colors duration-300 font-bold">[VER PROYECTOS →]</span>
    </a>
    <div class="flex gap-4 mt-8">
        <a href="https://github.com/tuusuario" target="_blank" class="text-gray-500 hover:text-white transition-colors">
            <Icon name="simple-icons:github" size={20} />
        </a>

        <a href="https://linkedin.com/in/tuusuario" target="_blank" class="text-gray-500 hover:text-white transition-colors">
            <Icon name="simple-icons:linkedin" size={20} />
        </a>
    </div>

</section>